@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 0.5rem 1rem;
  color: rgb(139, 23, 19);
  font-style: italic;
  font-weight: bold;
  background-color: blanchedalmond;
  border-radius: 10px;
}

.border {
  stroke: #000;
}

.hair {
  fill: rgb(52, 214, 219);
}
